<template>
    <div v-if="ability" class="column box is-mobile">
        <div class="columns is-mobile">
            <div class="column is-narrow">
                <p class="is-pulled-left">{{ability.name}}</p>
                <figure class="image is-96x96">
                    <img :src="require(`@/assets/abilities/${slug(ability.name)}.png`)">
                </figure>
                <p class="is-pulled-left">Owner: {{ability.owner}}</p>
            </div>
            <div class="column">
                <p class="">{{ability.description}}</p>
            </div>
        </div>
        <div v-if="ability.type !== 'Signature'" class="columns is-mobile">
            <b-field label="Replace with:">
                <b-autocomplete
                    v-model="name"
                    placeholder="e.g. Assassinate"
                    :open-on-focus=true
                    :data="filteredAbilities"
                    :clear-on-select="true"
                    field="name"
                    @select="option => setSelectedAbility(option)">
                <template slot-scope="props">
                    <div class="media">
                        <div class="media-left">
                            <img width="32" :src="require(`@/assets/abilities/${slug(props.option.id)}.png`)">
                        </div>
                        <div class="media-content">
                            {{ props.option.name }}
                        </div>
                    </div>
                </template>
                </b-autocomplete>
            </b-field>
        </div>
    </div>
</template>

<script>
import slugIt from "@/util/slug";
import db from "@/firebase/init";

export default {
  name: "AbilitySelect",
  props: ["ability"],
  data() {
    return {
      name: "",
      schoolAbilities: [],
      school: null
    };
  },
  watch: {
    ability: function() {
      if (this.ability && this.school !== this.ability.school) {
        db.collection("abilities")
          .where("school", "==", this.ability.school)
          .get()
          .then(snapshot => {
            snapshot.forEach(abilityDoc => {
              const ability = abilityDoc.data();
              ability.id = abilityDoc.id;
              if (ability.type !== "Signature") {
                this.schoolAbilities.push(ability);
              }
            });
          });
        this.school = this.ability.school;
      }
    }
  },
  methods: {
    setSelectedAbility(option) {
      this.ability.name = option.name;
      this.ability.description = option.description;
      this.ability.school = option.school;
      this.ability.owner = option.owner;
    },
    slug(string) {
      return slugIt(string);
    }
  },
  computed: {
    availableAbilities() {
      return this.schoolAbilities.filter(
        schoolAbility => schoolAbility.type === this.ability.type
      );
    },
    filteredAbilities() {
      return this.availableAbilities.filter(option => {
        return (
          option.name
            .toString()
            .toLowerCase()
            .indexOf(this.name.toLowerCase()) >= 0
        );
      });
    }
  }
};
</script>
