<template>
<section class="section">
    <div class="container">
        <div class="columns is-full is-centered is-mobile">
            <div class="control">
                <input class="input" type="text" placeholder="Filter" v-model="search">
            </div>
        </div>
        <div class="section-break"></div>
        <div class="columns is-multiline is-mobile is-centered">
        <template v-for="character in filteredCharacters">
          <div class="column" :key="character.id">
            <div class="card" style="max-width:128px;">
              <router-link :to="{ name: 'Loadout', params: {school: character.school, character: character.name}}">
              <div class="card-image">
                <figure  class="image is-128x128" >
                    <img :src="require(`@/assets/characters/${character.slug}.png`)">
                </figure>
              </div>
              </router-link>
                <div class="level is-mobile">
                  <div class="level-item has-text-centered">
                    <figure class="image is-24x24">
                      <img :src="require(`@/assets/roles/${character.role.toLowerCase()}-role.png`)">
                    </figure>
                  </div>
                  <div class="level-item has-text-centered">
                    <p class="is-size-7">{{character.name}}</p>
                  </div>
                </div>
            </div>
          </div>
        </template>
        </div>
    </div>
</section>
</template>

<script>
import db from "@/firebase/init";

export default {
  name: "Characters",
  data() {
    return {
      search: "",
      characters: []
    };
  },
  computed: {
    filteredCharacters() {
      return this.characters.filter(character => {
        return character.name.toLowerCase().includes(this.search.toLowerCase());
      });
    }
  },
  created() {
    db.collection("characters")
      .orderBy("name")
      .get()
      .then(snapshot => {
        snapshot.forEach(doc => {
          const character = doc.data();
          character.id = doc.id;
          this.characters.push(character);
        });
      });
  }
};
</script>

<style>
.section-break {
  height: 50px;
  width: 100%;
}
</style>
