<template>
    <div v-if="gear" class="column box is-mobile">
        <div class="columns is-mobile">
            <div class="column is-narrow">
                <p class="is-pulled-left">{{gear.name}}</p>
                <figure class="image is-96x96">
                    <img :src="require(`@/assets/equipment/${gear.img}.png`)">
                </figure>
            </div>
            <div class="column">
                <p>{{gear.description}}</p>
            </div>
        </div>
        <div class="columns is-mobile">
            <b-field label="Replace with:">
                <b-autocomplete
                    v-model="name"
                    placeholder="e.g. Assassinate"
                    :open-on-focus=true
                    :data="filteredGear"
                    :clear-on-select="true"
                    field="name"
                    @select="option => setSelectedgear(option)">
                
                <template slot-scope="props">
                    <div class="media">
                        <div class="media-left">
                            <img width="32" :src="require(`@/assets/equipment/${props.option.img}.png`)">
                        </div>
                        <div class="media-content">
                            {{ props.option.name }}
                        </div>
                    </div>
                </template>
                </b-autocomplete>
            </b-field>
        </div>
    </div>
</template>

<script>
import db from "@/firebase/init";

export default {
  name: "GearSelect",
  props: ["gear"],
  data() {
    return {
      name: "",
      schoolGear: [],
      school: null
    };
  },
  watch: {
    gear: function() {
      if (this.gear && this.school !== this.gear.school) {
        db.collection("gear")
          .where("school", "==", this.gear.school)
          .get()
          .then(snapshot => {
            snapshot.forEach(gearDoc => {
              const gear = gearDoc.data();
              gear.id = gearDoc.id;
              this.schoolGear.push(gear);
            });
          });
        this.school = this.gear.school;
      }
    }
  },
  methods: {
    setSelectedgear(option) {
      this.$emit("update:gear", option);
    }
  },
  computed: {
    availableGear() {
      return this.schoolGear.filter(
        schoolGear => schoolGear.slot === this.gear.slot
      );
    },
    filteredGear() {
      return this.availableGear.filter(option => {
        return (
          option.name
            .toString()
            .toLowerCase()
            .indexOf(this.name.toLowerCase()) >= 0
        );
      });
    }
  }
};
</script>
