<template>
    <div v-if="selected" class="column box is-mobile">
        <div class="columns is-mobile">
            <div class="column is-narrow">
                <p v-if="gem" class="is-pulled-left">{{gem.name}}</p>
                <figure class="image is-96x96">
                    <img v-if="gem" :src="require(`@/assets/gems/${slug(gem.img)}.png`)">
                </figure>
            </div>
            <div class="column">
                <p v-if="gem">{{gem.description}}</p>
            </div>
        </div>
        <div class="columns is-mobile">
            <b-field label="Replace with:">
                <b-autocomplete
                    v-model="name"
                    placeholder="e.g. Red Gem"
                    :open-on-focus=true
                    :data="filteredGems"
                    :clear-on-select="true"
                    field="name"
                    @select="option => setSelectedGem(option)">
                
                <template slot-scope="props">
                    <div class="media">
                        <div class="media-left">
                            <img width="32" :src="require(`@/assets/gems/${slug(props.option.img)}.png`)">
                        </div>
                        <div class="media-content">
                            {{ props.option.name }}
                        </div>
                    </div>
                </template>
                </b-autocomplete>
            </b-field>
        </div>
    </div>
</template>

<script>
import slugIt from "@/util/slug";
import db from "@/firebase/init";

export default {
  name: "GemSelect",
  props: ["gem", "selected", "gemSlot"],
  data() {
    return {
      name: "",
      schoolGems: [],
      school: this.$route.params.school,
      type: null
    };
  },
  created() {
    //TODO: This probably needs to be loaded more often, how? Check changes to "gem"?
    if (this.school !== "Veil Demon") {
      this.type = "Hero";
    } else {
      this.type = "Veil Demon";
    }
    db.collection("gems")
      .where("type", "==", this.type)
      .get()
      .then(snapshot => {
        snapshot.forEach(gemDoc => {
          const gem = gemDoc.data();
          gem.id = gemDoc.id;
          this.schoolGems.push(gem);
        });
      });
  },
  methods: {
    setSelectedGem(option) {
      this.$emit("update:gem", option);
    },
    slug(string) {
      if (string) {
        return slugIt(string);
      } else {
        //TODO: Find a default image when no gem is selected
        return "shooters";
      }
    }
  },
  computed: {
    availableGems() {
      return this.schoolGems.filter(
        schoolGem => schoolGem.slot === this.gemSlot
      );
    },
    filteredGems() {
      return this.availableGems.filter(option => {
        return (
          option.name
            .toString()
            .toLowerCase()
            .indexOf(this.name.toLowerCase()) >= 0
        );
      });
    }
  }
};
</script>
