<template>
<section class="section">
    <div v-if="generalOne" class="container">
        <div class="columns">
            <div class="column box is-mobile">
                <div v-if="gearPrimary" class="columns is-mobile" >
                    <div class="column is-narrow">
                        <figure @click="selectGear(gearPrimary)" class="is-unselectable image is-96x96">
                            <img :src="require(`@/assets/equipment/${slug(gearPrimary.img)}.png`)">
                        </figure>
                    </div>
                    <div class="column is-narrow">
                        <figure @click="selectGear(gearSecondary)" class="is-unselectable image is-96x96">
                            <img :src="require(`@/assets/equipment/${slug(gearSecondary.img)}.png`)">
                        </figure>
                    </div>
                    <div class="column is-narrow">
                        <figure @click="selectGear(gearTertiary)" class="is-unselectable image is-96x96">
                            <img :src="require(`@/assets/equipment/${slug(gearTertiary.img)}.png`)">
                        </figure>
                    </div>
                    <div class="column is-narrow">
                        <figure @click="selectGear(gearWeapon)" class="is-unselectable image is-96x96">
                            <img :src="require(`@/assets/equipment/${slug(gearWeapon.img)}.png`)">
                        </figure>
                    </div>

                </div>
                <div class="columns is-mobile" >
                    <div class="column is-narrow">
                        <figure @click="selectGem(gemBlueOne, 'Blue')" class="gem is-unselectable image is-96x96">
                            <img v-if="gemBlueOne" :src="require(`@/assets/equipment/${slug(gemBlueOne.img)}.png`)">
                        </figure>
                    </div>
                    <div class="column is-narrow">
                        <figure @click="selectGem(gemBlueTwo, 'Blue')" class="gem is-unselectable image is-96x96">
                            <img v-if="gemBlueTwo" :src="require(`@/assets/equipment/${slug(gemBlueTwo.img)}.png`)">
                        </figure>
                    </div>
                    <div class="column is-narrow">
                        <figure @click="selectGem(gemRedOne, 'Red')" class="gem is-unselectable image is-96x96">
                            <img v-if="gemRedOne" :src="require(`@/assets/equipment/${slug(gemRedOne.img)}.png`)">
                        </figure>
                    </div>
                    <div class="column is-narrow">
                        <figure @click="selectGem(gemRedTwo, 'Red')" class="gem is-unselectable image is-96x96">
                            <img v-if="gemRedTwo" :src="require(`@/assets/equipment/${slug(gemRedTwo.img)}.png`)">
                        </figure>
                    </div>
                </div>
                <div class="columns is-mobile">
                    <div class="column is-narrow">
                        <figure @click="selectAbility(generalOne)" class="image is-96x96">
                            <img :src="require(`@/assets/abilities/${slug(generalOne.name)}.png`)">
                            <p class="is-unselectable is-overlay">1</p>
                        </figure>
                    </div>
                    <div class="column is-narrow ">
                        <figure @click="selectAbility(generalTwo)" class="image is-96x96">
                            <img :src="require(`@/assets/abilities/${slug(generalTwo.name)}.png`)">
                            <p class="is-unselectable is-overlay">2</p>
                        </figure>
                    </div>
                    <div class="column is-narrow">
                        <figure @click="selectAbility(generalThree)" class="image is-96x96">
                            <img :src="require(`@/assets/abilities/${slug(generalThree.name)}.png`)">
                            <p class="is-unselectable is-overlay">3</p>
                        </figure>
                    </div>
                    <div class="column is-narrow">
                        <figure @click="selectAbility(ultimate)" class="image is-96x96">
                            <img :src="require(`@/assets/abilities/${slug(ultimate.name)}.png`)">
                            <p class="is-unselectable is-overlay">4</p>
                        </figure>
                    </div>
                    <div class="column is-narrow">
                        <figure @click="selectAbility(signature)" class="image is-96x96">
                            <img :src="require(`@/assets/abilities/${slug(signature.name)}.png`)">
                            <p class="is-unselectable is-overlay">Right</p>
                        </figure>
                    </div>
                </div>
                <div class="columns is-mobile">
                    <div class="column is-narrow">
                        <a class="button" @click="saveLoadout()">Save</a>
                    </div>
                </div>
            </div>
            <ability-select :ability="selectedAbility"></ability-select>
            <gear-select :gear.sync="selectedGear"></gear-select>
            <gem-select :gem.sync="selectedGem" :selected="isGemSelected" :gemSlot="selectedGemSlot"></gem-select>
        </div>  
    </div>
</section>


</template>

<script>
import db from "@/firebase/init";
import slugIt from "@/util/slug";

import AbilitySelect from "@/components/AbilitySelect.vue";
import GearSelect from "@/components/GearSelect.vue";
import GemSelect from "@/components/GemSelect.vue";

export default {
  name: "Loadout",
  components: {
    AbilitySelect,
    GearSelect,
    GemSelect
  },
  data() {
    return {
      character: this.$route.params.character,
      loadoutId: this.$route.params.loadoutId,
      school: this.$route.params.school,
      defaultAbilities: [],
      defaultGear: [],
      generalOne: null,
      generalTwo: null,
      generalThree: null,
      ultimate: null,
      signature: null,
      gearPrimary: null,
      gearSecondary: null,
      gearTertiary: null,
      gearWeapon: null,
      gemBlueOne: null,
      gemBlueTwo: null,
      gemRedOne: null,
      gemRedTwo: null,
      selectedAbility: null,
      selectedGear: null,
      selectedGem: null,
      isGemSelected: false,
      loadout: null,
      selectedGemSlot: null
    };
  },
  created() {
    if (this.loadoutId) {
      db.collection("loadouts")
        .doc(this.loadoutId)
        .get()
        .then(doc => {
          this.loadout = doc.data();
          this.loadout.id = doc.id;
          this.assignAbilities(this.loadout.abilities);
          this.assignGear(this.loadout.gear);
        });
    } else {
      //TODO: Perhaps just get everything here, and filter it in the code? While at the same time just passing the value?
      db.collection("abilities")
        .where("owner", "==", this.character)
        .get()
        .then(snapshot => {
          snapshot.forEach(abilityDoc => {
            const ability = abilityDoc.data();
            ability.id = abilityDoc.id;
            this.defaultAbilities.push(ability);
          }),
            this.assignAbilities(this.defaultAbilities);
        });
      db.collection("gear")
        .where("school", "==", this.school)
        .where("default", "==", true)
        .get()
        .then(snapshot => {
          snapshot.forEach(gearDoc => {
            const gear = gearDoc.data();
            gear.id = gearDoc.id;
            this.defaultGear.push(gear);
          }),
            this.assignGear(this.defaultGear);
        });
    }
  },
  methods: {
    selectAbility(ability) {
      this.isGemSelected = false;
      this.selectedAbility = ability;
      this.selectedGear = null;
      this.selectedGem = null;
    },
    selectGear(gear) {
      this.isGemSelected = false;
      this.selectedGear = gear;
      this.selectedAbility = null;
      this.selectedGem = null;
    },
    selectGem(gem, type) {
      this.selectedGemSlot = type;
      this.selectedGem = gem;
      this.selectedAbility = null;
      this.selectedGear = null;
      this.isGemSelected = true;
    },
    saveLoadout() {
      //TODO: Add gem saving
      db.collection("loadouts")
        .add({
          abilities: [
            this.generalOne,
            this.generalTwo,
            this.generalThree,
            this.ultimate,
            this.signature
          ],
          gear: [
            this.gearPrimary,
            this.gearSecondary,
            this.gearTertiary,
            this.gearWeapon
          ]
        })
        .then(docRef => {
          //TODO Navigate to saved loadout here?
          console.log("Document written with ID: ", docRef.id);
        })
        .catch(error => {
          throw error;
        });
    },
    assignAbilities(abilities) {
      abilities.forEach(ability => {
        if (ability.type === "Ultimate") {
          this.ultimate = Object.assign({}, ability);
        } else if (ability.type === "Signature") {
          this.signature = Object.assign({}, ability);
        } else if (ability.key === "1") {
          this.generalOne = Object.assign({}, ability);
        } else if (ability.key === "2") {
          this.generalTwo = Object.assign({}, ability);
        } else if (ability.key === "3") {
          this.generalThree = Object.assign({}, ability);
        }
      });
    },
    assignGear(gear) {
      gear.forEach(gear => {
        if (gear.slot === "Primary") {
          this.gearPrimary = Object.assign({}, gear);
        } else if (gear.slot === "Secondary") {
          this.gearSecondary = Object.assign({}, gear);
        } else if (gear.slot === "Tertiary") {
          this.gearTertiary = Object.assign({}, gear);
        } else if (gear.slot === "Weapon") {
          this.gearWeapon = Object.assign({}, gear);
        }
      });
    },
    assignGems(gems) {
      if (gems) {
        gems.forEach(gem => {
          if (gem.slot === "Blue") {
            if (this.gemBlueOne) {
              this.gemBlueOne = gem;
            } else {
              this.gemBlueTwo = gem;
            }
          }
          if (gem.slot === "Red") {
            if (this.gemRedOne) {
              this.gemRedOne = gem;
            } else {
              this.gemRedTwo = gem;
            }
          }
        });
      }
    },
    slug(string) {
      return slugIt(string);
    }
  }
};
</script>

<style>
.gem {
  border-style: solid;
}
</style>
